{% extends 'Layouts/layout_vente.html.twig' %}
{% block title %} Acceuil {% endblock %}
{% block titre_principal %}! Bienvenue !{% endblock %}
{% block bienvenue %}
    {% if utilisateur is null %}
        <h3>Visiteur anonyme, veuillez vous connecter</h3>
    {% else %}
        <h3>Bonjour {{ utilisateur.nom }}  {{ utilisateur.prenom }} .</h3>
        {% if utilisateur.getPaysDAppartenance is null %}
            <h4>Vous n'avez pas de pays d'appartenance ?!</h4>
        {% else %}
            <h4>Vous etes de {{ utilisateur.getPaysDAppartenance.nom }}</h4>
        {% endif %}
        <h4> Vous etes :
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                 Super Administrateur
            {% elseif is_granted('ROLE_ADMIN') %}
                 Administrateur
            {% else %}
                 Client
            {% endif %}
        </h4>
    {% endif %}
{% endblock %}


