
<ul>
    <li>
        <a href="{{ path('admin_gerer_clients') }}">Gerer les clients</a>
    </li>
    <li>
        <a href="{{ path('admin_gerer_produits') }}">Gerer les produits du magasin</a>
    </li>
    <li>
        <a href="https://fr.wikipedia.org/wiki/Pong">https://fr.wikipedia.org/wiki/Pong</a>
    </li>
</ul>