
<ul>
    <li>
        <a href="{{ path('security_logout') }}">Se déconnecter</a>
    </li>
    <li>
        {% include 'Menu/_modifier_son_compte.html.twig' %}
    </li>
    <li>
        <a href="{{ path('produit_liste_produits') }}">Acceder au Magasin</a>
    </li>
    <li>
        <a href="{{ path('panier_gerer_panier') }}">Mon Panier</a>
    </li>
</ul>