
<ul>
    <li>
        <a href="{{ path('security_logout') }}">Se déconnecter</a>
    </li>
    <li>
        <a href="{{ path('utilisateur_modifier_mon_compte') }}"> Modifier le profil</a>
    </li>
    <li>
        <a href="{{ path('produit_liste_produits') }}">Acceder au Magasin</a>
    </li>
    <li>
        <p> gerer son panier </p>
    </li>
</ul>