<ul>
    <li>
        <a href="{{ path('security_logout') }}">Se déconnecter</a>
    </li>
    <li>
        {% include 'Menu/_modifier_son_compte.html.twig' %}
    </li>
    <li>
        <a href="{{ path('superadmin_gerer_admin') }}">Gerer les admins</a>
    </li>
</ul>