<ul>
    <li>
        <a href="{{ path('security_login') }}">Connexion</a>
        {# <a href="{{ path('fos_user_registration_register') }}">Inscription</a>  #}
    </li>
    <li>
        <a href="{{ path('utilisateur_inscription') }}">Inscription</a>

    </li>
</ul>